<div data-component="blandSelvSlik">
  {% if theme.id != "135419986146" %}
    {% section '2022-Black-friday-mp-template' %}
  {% else %} 
    {% section 'black-friday-slik-template' %}
  {% endif %}

</div>
