<div data-component="blandSelvSlik">
  {% if theme.id != "135419986146" %}
    {% section '2022-test_pickNmix-template' %}
  {% else %} 
    {% section 'test_pickNmix-slik-template' %}
  {% endif %}

</div>