<div data-component="blandSelvSlik">
  {% if theme.id != "135419986146" %}
    {% section '2022-bland-selv-slik-template' %}
  {% else %} 
    {% section 'bland-selv-slik-template' %}
  {% endif %}

</div>
