<div class="b2bpage">
  <div class="yellowBlub_1"></div>	
  <div class="yellowBlub_2"></div>
  <div class="purpleBlub_1"></div>
  <div class="purpleBlub_2"></div>
  <div class="b2bSections">	
    {% section 'b2b-landing-top' %}
    {% section 'b2b-landing-stars' %}
    {% section 'b2b-landing-call-to-actions' %}
  </div>  
</div>