<!-- Quill core styles and scripts -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Emoji support for Quill -->
<link href="https://cdn.jsdelivr.net/npm/quill-emoji/dist/quill-emoji.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/quill-emoji/dist/quill-emoji.js"></script>

<style>
  .message-on-card {
    display: none;
    flex-direction: column;
    gap: 0;
    transition: 0.3s ease-in-out;
    width: 100%;
    padding: 0;
  }
  .message-on-card label {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
  }
  .message-on-card label span {
    font-weight: 600 !important;
    font-size: 20px;
    transform: translate(0px, 16px);
  }
  .message-on-card .cart-notes {
    border-radius: 10px;
    min-height: 292px;
    border-color: #6E4695;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-top-left-radius: unset !important;
    border-top-right-radius: unset !important;
  }
  .ordernote {
    display: flex !important;
  }
  .message-on-card-img {
    width: fit-content;
    margin: 20px auto;
  }
  .giftprodselectedbody .stepmsgcard-upsell-items {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: space-around;
  }
  .stepmsgcard-upsell-wrapper {
    padding: 50px 0;
    overflow: hidden !important;
  }
  .stepmsgcard-radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .giftprodselectedbody .stepmsgcard-upsell-item {
    border-radius: 8px !important;
    align-items: center;
    cursor: pointer;
    width: 47%;
  }
  {% comment %} #removeordernote {
    max-height: 28px;
  } {% endcomment %}
  .stepmsgcard-upsell-item-right {
    flex-direction: column;
  }
  .stepmsgcard-upsell-item-rightItem {
    display: none;
  }
  {% comment %} .giftprodselectedbody .stepmsgcard-upsell-item.selected {
    border: 2px solid #ffad05 !important;
  } {% endcomment %}
  .giftprodselectedbody .selected .stepmsgcard-checkmark {
    background: var(--brandDarkPurple) !important;
  }
  .giftprodselectedbody .sub-label-detail {
    opacity: 0;
  }
  .stepmsgcard-box-label {
    line-height: 0;
    width: 100%;
    pointer-events: none;
  }
  .stepmsgcard-box-label label {
    font-size: 21px;
    cursor: pointer;
    line-height: 0;
  }
  .giftprodselectedbody .stepmsgcard-box-image p {
    font-weight: 700;
    color: #FFAD05;
    font-size: 20px;
    text-wrap: nowrap;
  }
  .stepmsgcard-upsell-offer .stepmsgcard-upsell-item .stepmsgcard-box-image {
    max-width: 125px;
  }
  .stepmsgcard-upsell-offer .stepmsgcard-upsell-item .stepmsgcard-box-label {
    color: var(--brandBlack);
    width: 10em;
    overflow: hidden;
  }
  .stepmsgcard-radio-container input:checked~.stepmsgcard-checkmark:after {
    display: block;
  }

  .stepmsgcard-radio-container input:checked~.stepmsgcard-checkmark {
    background-color: var(--brandWhite);
  }

  .stepmsgcard-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: var(--brandWhite);
    border: 1px solid var(--brandDarkPurple);
    border-radius: 50%;
  }
  .stepmsgcard-radio-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 16px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .stepmsgcard-upsell-offer .stepmsgcard-upsell-item .stepmsgcard-box-button {
    position: relative;
    top: 5px;
  }
  .stepmsgcard-upsell-offer .stepmsgcard-upsell-item.selected {
    border-top: 1px solid var(--brandOrange);
    border-left: 1px solid var(--brandOrange);
    border-right: 1px solid var(--brandOrange);
    border-bottom: 1px solid var(--brandOrange);
  }

  .stepmsgcard-upsell-offer .stepmsgcard-upsell-items {
    margin: 20px 0;
    padding: 0;
    border-radius: 5px;
  }

  .stepmsgcard-upsell-offer .stepmsgcard-upsell-items {
    margin: 20px 0;
    padding: 0;
    border-radius: 5px;
  }
  .step3title {
    font-size: 36px;
    padding-bottom: 30px;
    font-weight: 700;
  }

  .stepmsgcard-box-button{
    display: none;
    pointer-events: none;
  }
  
  #selectedCard{
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    max-height: 332px;
    width: 100%;
    object-fit: cover;
  }

  .ql-toolbar.ql-snow {
    border: unset !important;
    border-top: 1px solid #704997 !important;
    border-left: 1px solid #704997 !important;
    border-right: 1px solid #704997 !important;
    border-bottom-left-radius: unset !important;
    border-bottom-right-radius: unset !important;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    padding: 8px;
    border-radius: 8px;
    z-index: 1;
  }
  
  .changeCardText{
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    width: 100%;
    padding-top: 16px;
    cursor: pointer;
  }
  @media only screen and (max-width: 767px) {
    .giftprodselectedbody .stepmsgcard-upsell-items {
      flex-direction: column !important;
    }
    .stepmsgcard-box-label label {
      font-size: 12px !important;
    }
    .giftprodselectedbody .stepmsgcard-box-image p {
      font-size: 14px !important;
    }
    .giftprodselectedbody .stepmsgcard-upsell-item {
      width: auto !important;
    }
  }
</style>
<div class="stepmsgcard-upsell-wrapper shopadjust-overflow-scroll--y" style="min-height: calc(100% - 329px);">
  <h2 class="step3title">Add some text to make it more special 😀 </h2>
  <div class="stepmsgcard-upsell-items">
    <div
      id="removeordernote"
      class="stepmsgcard-upsell-item first-item"
      >
      <div class="stepmsgcard-box-button">
        <label class="stepmsgcard-radio-container">
          <input
            id="no_card"
            type="radio"
            name="packaging"
            value="8777200107851">
          <span class="stepmsgcard-checkmark"></span>
        </label>
      </div>
      <div class="stepmsgcard-box-label">
        <img id="selectedCard" src="">
      </div>
      <div class="stepmsgcard-box-image">
        <p>{{ section.settings.step3_nohandwrittenprice }}</p>
      </div>
    </div>

    <div
      id="handleRadioClick"
      class="stepmsgcard-upsell-item stepmsgcard-upsell-item-right"
      onclick="handleRadioClick()">
      <div class="stepmsgcard-upsell-item-rightItem">
        <div class="stepmsgcard-box-button">
          <label class="stepmsgcard-radio-container">
            <input
              id="yes_card"
              type="radio"
              name="packaging"
              value="8777181921611">
            <span class="stepmsgcard-checkmark"></span>
          </label>
        </div>
        <div class="stepmsgcard-box-label">
          <label class="type-style-card-desc-bold">{{ section.settings.step3_handwrittentext }}</label>
          <span class="sub-label-detail type-style-tiny-text 1 " data-pkg-price="">+ 5,00 kr. i alt</span>
        </div>
        <div class="stepmsgcard-box-image">
          <p>25,00 kr</p>
        </div>
      </div>
      <div class="message-on-card" id="ordernote">
        <label for="CartNoteDrawer">{{ section.settings.msgoncardtext }}
          <span id="characterCount">0 af 100 tegn</span>
        </label>
        <textarea
          name="note"
          placeholder="Skriv den hilsen der skal på kortet"
          class="input-full cart-notes"
          id="CartNoteDrawer"
          required=""
          maxlength="100"></textarea>
        <input
          class="mb-5"
          type="hidden"
          value=""
          id="CartNoteDrawer2">
        <input
          class="mb-5"
          type="hidden"
          value="true"
          id="CartNoteDrawer3">
      </div>
      {% if section.settings.messageoncard != blank %}
        <img
          class="message-on-card-img"
          src="{{ section.settings.messageoncard | image_url }}"
          alt="Message on Card">
      {% endif %}
    </div>
  </div>


</div>
<script>
    var jqmsg = document.createElement('script');
    jqmsg.src = "https://code.jquery.com/jquery-3.6.4.min.js";
    jqmsg.onload = function() {
      jQuery.noConflict();
      jQuery(document).ready(function($) {
       
        window.handleRadioClick = function() {
          $('#ordernote').addClass('ordernote');
          $('#yes_card').prop('checked', true);
          $('#no_card').prop('checked', false);
          $('#removeordernote').removeClass('selected'); 
          $('#handleRadioClick').addClass('selected');
          let candyBag= JSON.parse(window.localStorage.getItem('candybag'));
          
          if(candyBag && candyBag.length > 0){
            candyBag=candyBag.filter((item) => item.id!== 47473245585739);
          }
  
          if(candyBag && candyBag.length > 0 && !candyBag.find((item) => item.id === 47473208525131)){
            candyBag.push({
            "id": 47473208525131,
            "amount": 1,
            "price": 2500,
            "weight": 20,
            "title": "Personligt kort",
            "image": "//www.slikekspressen.dk/cdn/shop/files/kort_93310139-97d0-49b1-a009-dd521676ba30.png?v=1713243474"
          });
          }
            
          window.localStorage.setItem('candybag', JSON.stringify(candyBag));
          $("body").addClass('msgcarselected');          
        };
  
        window.removeordernote = function() {
          $('#ordernote').removeClass('ordernote');
          $('#no_card').prop('checked', true);
          $('#yes_card').prop('checked', false);
          $('#handleRadioClick').removeClass('selected'); 
          $('#removeordernote').addClass('selected');
          
          let candyBag= JSON.parse(window.localStorage.getItem('candybag'));
          if(candyBag && candyBag.length > 0){
            candyBag=candyBag.filter((item) => item.id!== 47473208525131);
          }
          window.localStorage.setItem('candybag', JSON.stringify(candyBag));
          
          
          $(`[data-add-to-bag][data-id="47473245585739"]`).click();
             
          $("body").addClass('msgcarselected');         
        };
        
        $('#CartNoteDrawer').on('input', function() {
        var characterCount = $(this).val().length;
        $('#characterCount').text(characterCount + ' of 100 characters');
    });
      });
    };
  
    document.body.appendChild(jqmsg);
</script>