<div class="speech-bubble hidden relative w-[200px] p-3 rounded-md bg-white shadow-subtle {{ class }}" data-speech-bubble>
  <span class="absolute top-1 right-1 cursor-pointer" data-speech-bubble-close data-speech-bubble-id='{{ text }}'>{%- render 'icon' with 'close' -%}</span>
  <div class="w-[140px] text-purple font-heading font-semibold text-sm">{{ text }}</div>
</div>