<style>
.backgroundColorBrandGreen{
  padding: 40px 0;
}
</style>
<div class="section-container backgroundColorBrandGreen">
  <div class="klaviyo-form-RQVrQg"></div>
</div>

{% schema %}
{
  "name": "2023 - newsletter",
  "tag": "section",
  "class": "shopadjust-top",
  "settings": [
   
  ],
  "presets": [
    {
      "name": "2023 - newsletter"
    }
  ]
}
{% endschema %}
