
/* rasedul */
/* Black friday mixing page */
#black-friday-mixing-page [data-product-item-id="47106486960459"] {
    border-bottom: 3px solid #6e4695;
    margin-bottom: 150px;
    } 
#black-friday-mixing-page [data-product-item-id="47106486403403"] {
    border-bottom: 3px solid #6e4695;
    margin-bottom: 150px;
    } 

#black-friday-mixing-page [data-product-item-id="47106336817483"] {
    border-bottom: 3px solid #6e4695;
    margin-bottom: 150px;
    } 
#black-friday-mixing-page [data-product-item-id="47106337210699"] {
    border-bottom: 3px solid #6e4695;
    margin-bottom: 150px;
    } 

@media screen and (max-width: 786px) {
  #black-friday-mixing-page [data-product-item-id="47106486960459"] {
    border-bottom: unset !important;
    padding-bottom: 15px !important;
    margin-bottom: 20px !important;
    } 
#black-friday-mixing-page [data-product-item-id="47106486403403"] {
    border-bottom: unset !important;
    padding-bottom: 15px !important;
    margin-bottom: 20px !important;
    } 

  #black-friday-mixing-page [data-product-item-id="47106336817483"] {
    padding-bottom: 50px;
    } 
#black-friday-mixing-page [data-product-item-id="47106337210699"] {
    padding-bottom: 50px;
    
}

/* champagneflaske chrstmas product page */

 /* champagneflaske_christmas */
  .champagneflaske_christmas .productImage{
    width: 45% !important;
  }
  .champagneflaske_christmas .productContent{
    width: 50% !important;
  }
  .champagneflaske_christmas .productContent {
    padding-left: 0px !important;
}
.champagneflaske_christmas .topContentProduct {
  justify-content: space-between;
}

  .productBoxContent-items {
    max-width: 1130px;
    margin: 0 auto;
    padding-bootom: 50px;
  }
  .productBoxContentHeadline{
    max-width: 1130px;
    margin: 0 auto;
  }
  .se_img-box {
      display: flex;
      justify-content: space-evenly;
      box-sizing: border-box;

  }

  .video-with-text{
      display: flex;
      padding-top: 40px;
      justify-content: space-between;
      gap: 60px;
  }
  .se_content {
      text-align: center;
      padding: 5px;
      box-sizing: border-box;
      flex: 0 0 25%;
      font-size: 12px;
  }

  .se_content img {
      max-width: 100%;
      height: auto;
      margin: 8px auto;
      min-height: 59px;
  }

  .se_banner-img{
      max-width: 50%;
  }

  .se_banner-img img{
      max-width: 100%;
  }

  .se_title{
      font-weight: 700;
      font-size: 14px;
  }
  .se_title-bottom{
      font-size: 12px;
  }


  .text-se_content{
      font-size: 16px;
      padding: 5px;

  }

  .video-se_content {
      position: relative;
      max-width: 50%;
      max-height: 425px;

  }

  .se_video {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;

  }

  .se_play-button {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      cursor: pointer;
      opacity: 0;
  }
  .video-se_content:hover .se_play-button{
    opacity: 1;
  }
.video-se_content i{
  color: #ED9F44;
  font-size: 40px;
}
.champagneflaske_christmas .se_prod-description{
    padding-top: 100px ;
  }
  .champagneflaske_christmas .productBoxContentHeadline{
  padding-bottom: 30px;
}
  .christmas_top_img{
    width: 100%;
  }
  

  /* For desktop screen */
  @media only screen and (min-width: 1024px) {


  .se_img-box{
      max-width: 100%;
      margin-top: 60px;
  }
  .se_content {
      text-align: center;
      padding: 5px;
      box-sizing: border-box;
      flex: 0 0 25%;
      font-size: 12px;
  }

  .text-se_content{
      max-width: 75%;

  }
  }




  /* For tablet */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
      .text-se_content{
      max-width: 50%;

  }

  .se_video {
      width: 100%;
      height: 285px;
      display: block;
      object-fit: cover;
  }

  .se_img-box {

      max-width: 100%;
  }

  }

  /* For mobile */
  @media only screen and (max-width: 767px) {

 .se_img-box {
    display: flex;
    margin: 0 ;
    max-width: 100%;
    overflow: scroll;
}
    .se_content {
    flex: 0 0 50% !important;
}
  .video-with-text {
    gap: 30px !important;
    flex-direction: column;
}
    .video-se_content {
    max-width: 80% !important;
    margin: 0 auto;
}
  .champagneflaske_christmas .productImage{
    width: 100% !important;
  }
  .champagneflaske_christmas .productContent{
    width: 100% !important;
  }
    .champagneflaske_christmas #AddToCartText-custom{
      font-size: 13px !important;
    }
    .champagneflaske_christmas .productBoxContentHeadline {
    padding-bottom: 0 !important;
    padding-left: 30px;
}
    .product-detail select[class^=variant__input] {
    width: auto !important;
}
   .champagneflaske_christmas .productImage {
    margin: 20px 0 !important;
}
    .se_img-box {
    justify-content: flex-start !important;
    padding-bottom: 10px;
}
   .champagneflaske_christmas .se_prod-description {
    padding-top: 20px !important;
}
   .champagneflaske_christmas .productLabel{
    text-align: center;  
    }
    .champagneflaske_christmas .productBoxContent {
    padding-bottom: 50px !important;
}
    .christmas_top_img {
    height: 100px;
    object-fit: cover;
}
    .champagneflaske_christmas .topContentProduct {
    width: 100% !important;
      margin-top: 0 !important;
}

   .champagneflaske_christmas .productBoxContent-items{
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-items: center;
  }
  }
